@using Microsoft.AspNetCore.Components
@using WebApp.Data
@using WebApp.Misc
@using Markdig
@model DatabaseAsset

@{
    ViewData["Title"] = "Home Page";
}

<div style="white-space: pre-wrap">
    @Html.Raw(HtmlTreeConverter.XmlToHtmlConvert(AssetXmlMap.PrettyPrint(Model)))
</div>
