<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/todc-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: ghostwhite; justify-content: space-between">
            <div class="container-fluid" style="margin: 3px 20px 3px 20px">
                <nobr>
                    <a class="navbar-brand thicc" style="font-size: 20px" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <input type="text" class="border-smooth thicc" id="search_string" style="width: 150%; margin: 0px 0px 0px 75px"/>
                    <button class="btn btn-primary border-smooth thicc" id="submit_btn" style="background-color: blue">Search</button>
                </nobr>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Anno 1800 Asset Viewer
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
