<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Anno Assets</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/todc-bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="icon" href="~/anno_icon.png" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3" style="background-color: ghostwhite; justify-content: space-between">
            <div class="container-fluid" style="margin: 3px 20px 3px 20px">
                    <a class="navbar-brand thicc" style="font-size: 20px; margin: 5px 0px 0px" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <div style="float: right; width: 40%">
                        <nobr>
                            <input type="search" class="border-smooth thicc" id="searchBar" style="width: 80%;" onfocus="searchBar.style.backgroundColor = 'white'" onkeypress="enterPressed(event, this)" value="@ViewData["SearchString"]" />
                            <button class="btn btn-primary border-smooth thicc" id="submitBtn" style="background-color: blue;" onclick="search()">Search</button>
                        </nobr>
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            Anno 1800 Asset Viewer (v1.0.0) &copy; Torben Oeldemann
            <i class="fa fa-beer fa-3x" style="float: right; margin: 11px 9px 9px 9px; cursor: pointer" title="Buy me a beer :)" onclick="window.open('https://paypal.me/asymptoto?country.x=DE&locale.x=de_DE')"></i>
            <i class="fa fa-github fa-3x" style="float: right; margin: 9px 9px 9px 9px; cursor: pointer" title="View on GitHub" onclick="window.open('https://github.com/asymptoto/AssetViewer')"></i>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/search.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
